# Yandex
/key.json

# Packer
variables.json

# Terraform
*.tfstate
*.backup
*.tfvars
*.lock.hcl
.terraform/

# Ansible
*retry
ansible/roles/jdauphant.nginx
ansible/vault.key

# Custom
yac_inventory_*.yml
