# Generic
*.log
.cache

# Yandex
/key.json

# Packer
variables.json

# Terraform
*.tfstate
*.backup
*.tfvars
*.lock.hcl
.terraform/

# Ansible
*retry
ansible/roles/jdauphant.nginx
ansible/roles/db
ansible/vault.key

# Vagrant
.vagrant/

# Molecule
.molecule

# Python
*.pyc
.pytest_cache

# Custom
yac_inventory_*.yml
