---

- name: Prepare to provisioning
  import_playbook: packer_disable_apt-daily.yml

- name: Prepare Ruby runtime
  hosts: default
  gather_facts: false
  become: true
  roles:
    - role: app
      tags: ruby
