---

name: Run tests for OTUS homework

'on':
  push:
    branches-ignore: main
  pull_request:
    branches-ignore: main

jobs:
  validate:
    runs-on: ubuntu-latest
    container: express42/otus-homeworks:0.7.1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Terraform validate
        if: always()
        working-directory: terraform/stage/
        run: |
          terraform init -backend=false
          terraform validate
      - name: Terraform validate prod
        if: always()
        working-directory: terraform/prod/
        run: |
          terraform init -backend=false
          terraform validate
      - name: Validate Packer db templates
        if: always()
        run: >-
          packer validate
          -var-file=packer/variables.json.example
          packer/db.json
      - name: Validate Packer app templates
        if: always()
        run: >-
          packer validate
          -var-file=packer/variables.json.example
          packer/app.json

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Checkout repo with tests
        uses: actions/checkout@v2
        with:
          repository: "express42/otus-homeworks"
          ref: 2021-08
          path: "./otus-homeworks/"
      - name: Run tests
        run: curl https://raw.githubusercontent.com/express42/otus-homeworks/2021-08/run.sh | bash
